nav.govuk-pagination {
    align-items: center;

    table.govuk-table + & {
        margin-top: -(govuk-spacing(5));
    }

    & > div:first-of-type {
        padding-left: 0;
    }
    
    & > div.govuk-pagination__details {
        flex-basis: 100%;
        margin-top: govuk-spacing(2);
        
        & > p {
            margin: 0;
        }
    }
}
