// Header
a.govuk-header__homepage-link:not(:focus) {
    background-color: transparent;
}

// Grid columns
div.govuk-grid-column-two-quarters {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

// Footer navigation margins
div.govuk-footer__navigation > div {
    margin-left: 0;
    margin-right: 0;

    padding-left: $govuk-gutter-half;
    padding-right: $govuk-gutter-half;
}

// Details inside lists
li > details {
    margin-bottom: 0 !important;
}

// No print
@media print {
    .app-no-print {
        display: none;
    }
}

// Task list hint paragraphs
div.govuk-task-list__hint > p:first-of-type {
    margin-top: 0;
}

// Tag fix (Tags are too narrow for task list statuses)
strong.govuk-tag {
    max-width: none;
    white-space: nowrap;
}

// Summary list
dl.govuk-summary-list {
    // Summary list fix (Actions pane is too narrow for tags)
    & > div > dd.govuk-summary-list__actions {
        width: auto;
        min-width: 20%;
    }

    // Wider key column
    &.govuk-summary-list--wider-key > div > dt.govuk-summary-list__key {
        width: 50%;
    }

    // Numeric value column
    &.govuk-summary-list--numeric > div > dd.govuk-summary-list__value {
        text-align: right;
    }
}

// List types
ol.govuk-list--lower-alpha {
    list-style-type: lower-alpha;
    padding-left: govuk-spacing(4);
}

ol.govuk-list--lower-roman {
    list-style-type: lower-roman;
    padding-left: govuk-spacing(4);
}

ol.govuk-list--upper-roman {
    list-style-type: upper-roman;
    padding-left: govuk-spacing(4);
}

ul.govuk-list--circle {
    list-style-type: circle;
    padding-left: govuk-spacing(4);
}

ul.govuk-list--square {
    list-style-type: square;
    padding-left: govuk-spacing(4);
}
