// Colour overrides
    @each $name, $colour in $govuk-colours {
        // Font Colours
        .app-\!-font-#{$name} {
            color: $colour !important;
        }

        // Background Colours
        .app-\!-background-#{$name} {
            background-color: $colour !important;
        }

        // Borders
        .app-\!-border-#{$name} {
            border-color: $colour !important;
        }
    }

// Grid columns
    div.govuk-grid-column-two-quarters {
        box-sizing: border-box;
        width: 50%;
        float: left;
    }

// Footer navigation margins
    div.govuk-footer__navigation > div {
        margin-left: 0;
        margin-right: 0;

        padding-left: $govuk-gutter-half;
        padding-right: $govuk-gutter-half;
    }

// Details inside lists
    li > details {
        margin-bottom: 0 !important;
    }

// No print
    .app-no-print {
        display: none;
    }
