// Colour overrides
    @each $name, $colour in $govuk-colours {
        // Font Colours
        .app-\!-font-#{$name} {
            color: $colour !important;
        }

        // Background Colours
        .app-\!-background-#{$name} {
            background-color: $colour !important;
        }

        // Borders
        .app-\!-border-#{$name} {
            border-color: $colour !important;
        }
    }

// Grid columns
    div.govuk-grid-column-two-quarters {
        box-sizing: border-box;
        width: 50%;
        float: left;
    }
