// Use this file to override the default style associations in the GOV.UK Design System

@import 'govuk-frontend/dist/govuk/helpers/_colour.scss';

//== GOV.UK Font
$govuk-font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';

//== GOV.UK Colour Association
// These can be:
// a hex colour     secondary-text: #ff0000,
// a variable       secondary-text: $colour,
// a named colour   secondary-text: (name: 'black'),
// a variant        secondary-text: (name: 'black', variant: 'tint-95'),

$govuk-functional-colours: (
    // body-background:,
    // border:,
    // brand:,
    // error:,
    // focus-text:,
    // focus:,
    // hover:,
    // input-border:,
    // link-active:,
    // link-hover:,
    // link-visited:,
    // link:,
    // print-text:,
    // secondary-text:,
    // success:,
    // surface-background:,
    // surface-border:,
    // surface-text:,
    // template-background:,
    // text:,
);

//== Sizing
$govuk-page-width: 1100px;
